/* ---------------- BACKGROUND */
$color__background-body : #ccc4ba;
$color__background-main : #f0bb77;
$color__background-cours : hsl(209, 100%, 91%);
$color__background-header : #8C2703;
$color__background-barre : #A63F03;
$color__background-footer : #A67449;
$color__background-link : #f0bb77;
$color__background-link-hover : #A63F03;
$color__background-404: rgb(155, 24, 24);

/* ---------------- LIENS */
$color__link : hsl(18, 27%, 38%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(19, 29%, 28%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(19, 29%, 28%);
$color__link__footer-hover : hsl(0, 0%, 100%);
$color__link__footer-visited : hsl(19, 28%, 37%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : #BFA584;
$color__link__header-hover : #f09977;
$color__link__header-visited : #f0bb77;

/* ---------------- FONT */
$color__font-header : rgb(248, 158, 98);
$color__font-main :rgb(235, 202, 193);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : hsl(17, 27%, 23%);

