$color__background-body: rgb(240, 240, 240);
$color__background-header:#555;
$color__background-barre:rgb(114, 84, 103);
$color__background-footer:rgb(56, 34, 34);
$color__background-main:rgb(168, 47, 47);
$color__background-carre: GhostWhite;

//Couleur des textes
$color__texte-secondaire: DimGrey;

// liens
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$background__link-hover: rgb(255, 255, 226);
