.recherche{
    position: relative;
    display: flex;

    &__input{
        flex: 1;
        width: 100%;
        background-color: rgba(#f0bb77, .3);
        outline: none;
        transition: all .3s;

        &:focus{
            background-color: rgba(#f0bb77, .7)
        }
    }

    &__bouton{
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{

        }
    }
}